
.tbl td, th{
    border-right: groove 0.5px #000;
    vertical-align: middle !important;
}


.tbl{
    border: 1px #dddddd inset !important;
    font-size: 11px;
}
table tr {
    height: 50px;
    border-right: 1px #dddddd inset !important;
}
table header {
    color: #f5f5f5;
}
table .sg {
    margin-right: 3%;
    font-size: 9px;
}
body { padding-top: 70px; }
